<body>

        <div style="padding: 50px;" class="central">      
              <div class="inicio central">

                    <div class="centralizando rodateto">
                        <img src="assets/logo.png" alt="">
                        <!-- <h1>Bem-vindo ao Several Foods!</h1> -->
                    </div>

                    <p>Olá! Você já possui algum cadastro?</p>

                    <div>
                        <div class="janela_renderizada_login">
                                <p>
                                      <input type="text" size="60px" name="search" placeholder="Login" />
                                </p>
                                <p>
                                      <input type="text" size="60px" name="search" placeholder="Senha" />
                                </p>
                        </div>

                        <div class="centralizando">
                            <a routerLink="/home"><button>Login</button></a>
                        </div>
                                  
                    </div>

                        <div class="texto_cadastro">
                             <a routerLink="/cadastro">
                                <h1>Se você ainda não possui um cadastro, Clique Aqui!</h1>
                            </a>
                        </div>
                        
            </div>
        </div> 
</body>
      